.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  color: grey;
}

.login-form-box {
  border: 1px solid blue;
  padding: 5px;
  border-radius: 5%;

}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-input {
  padding: 5px;

}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1100px;
  background-image: url('http://orig00.deviantart.net/1f3d/f/2015/046/5/5/extrasolar_comet___4k_high_res_remake_by_nirklars-d8i4foj.png')
}

.landing button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  border: 1px solid black;
}
