// Place all the styles related to the Api::Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing {
  display: flex;
  flex-direction: column;
}

.landing > button {
  width: 100px;
  height: 50px;
  border-radius: 5%;
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px gray;
  padding: 10px;
}

.nav-right img {
  width: 40px;
  height: 35px;
  padding: 5px;
}

.logo {
  width: 60px;
  height: 50px;
  margin-left: 200px;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}

.feed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}


.post-container {
  display: flex;
  flex-direction: column;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  margin-bottom: 10px;
  width: 600px;
  height: 700px;

}

.user-info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 50px;
  // width: 450px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 15px;
}

.user-photo-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // font-style: italic;
  font-size: 25px;
}

.user-photo {
  width: 50px;
  height: 50px;
  padding-right: 15px;
  border-radius: 60%;
}



.user-image-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
}

.user-post-image {
  width: inherit;
  height: inherit;
  cursor: pointer;
}

.user-image-description {
  padding: 5px;
}


.comment-index-like{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 30px;
}

.like-count {
  font-style: italic;
  font-weight: bold;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin-left: 10px;
  padding-top: 10px;
}

.like-button {
  margin-left: -80px;
}



.comment-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  font-size: 14px;
}

.comment-index-item {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  padding: 0px 5px 5px 5px;
}

.comment-index-item-name{
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.comment-index-item-body {
  font-style: italic;
}

.comment-input {
  width: 500px;
  height: 20px;
}

.comment-header-container h1 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-style: italic;
  padding-top: 5px;
}

.comment-header-likes {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.comment-index-container {
  overflow-y: scroll
}
