/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 ::-webkit-scrollbar {
     width: 12px;
 }

 ::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
 }

 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
 }

 * {
   border: 1px solid red;
 }



.login-signup {
  display: flex;
  justify-content: center;
}

.header-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  border-radius: 5px;
  color: red;
  font-weight: bolder;
  padding: 20px;
  border: 1px solid white;
}

.login-input {
  margin-left: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #36465d;
  height: 40px;

}


.logo {
  width: 40px;
  height: 40px;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;


}

.nav-icon {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.feed {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.feed-item {
  padding: 5px;
}


.post-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border: 1px solid red;
}

.user-info-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  height: 60px;
  width: 490px;
  padding: 5px;
  border-bottom: 1px solid grey;
}

.user-photo {
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 50px;
}

.post-author {
  width: 100px;
  margin-left: 20px;
  color: blue;

}
.user-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-post-container {
  display: block;
}

.user-post-image {
  float: center;
}
